.contacts{
    width: 100%;
    height: calc(85vh-100px);
    background-color: lightblue;
    overflow-y: auto;
}

/* Estilos para el botón */
.contacts-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start; /* Ajustado para alinear el contenido al inicio */
    width: 100%;
    height: 100px;
    background-color: #f4f7f6;
    border: 1px solid #ddd;
    padding: 10px; /* Agregar algo de relleno */
    overflow: hidden; /* Asegurarse de que todo exceso de contenido se oculta */
}

.contacts-menu img {
    width: 30%; /* La imagen acapara el 30% del ancho del botón */
    height: auto; /* Mantener la proporción de la imagen */
    object-fit: cover; /* Asegurar que la imagen cubra el espacio asignado */
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%; /* El contenedor ocupa el 70% restante */
    padding-left: 10px; /* Espaciado entre la imagen y el texto */
    overflow: hidden; /* Ocultar el contenido excedente */
}

.contact-title {
    font-weight: bold; /* El título en negrita */
    white-space: nowrap; /* Evitar que el texto se envuelva */
    overflow: hidden; /* Ocultar contenido excedente */
    text-overflow: ellipsis; /* Añadir puntos suspensivos si el contenido excede el ancho disponible */
}

.last-message {
    white-space: nowrap; /* Mismo Css que el titulo pero sin negrilla */
    overflow: hidden; 
    text-overflow: ellipsis; 
}

