.contacts {
    display: flex;
    flex-direction: column;
}

.contacts-menu {
    display: flex;
    align-items: center;
    width: 90%;
    background-color: #f4f7f6;
    border: none;
    padding: 3% 3%;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: auto;
    margin-bottom: 3%;
}

.contacts-menu img {
    width: 20%;
}

.contact-info {
    padding-left: 10px;
}

.contact-title {
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;

}

.last-message {
    white-space: nowrap;
    /* Mismo Css que el titulo pero sin negrilla */
    overflow: hidden;
    text-overflow: ellipsis;
}